.slideshow ul {
  position: relative;
  width: 100%;
  height: 60vmin;
  margin-bottom: 70px;
}

.slideshow .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.slideshow .slide.active {
  opacity: 1;
  pointer-events: all;
}

.slideshow .slide img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 100%;
}

.slideshow .slide #meta,
.slideshow .slide #caption {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.slideshow #controls {
  text-align: center;
  margin-bottom: 70px;
  display: flex;
}

.slideshow #controls button {
  border: none;
  background: none;
  appearance: none;
  outline: none;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.slideshow #controls button:first-of-type {
  flex-grow: 1;
}

.slideshow #controls button:last-of-type {
  flex-grow: 1;
}

.slideshow #controls button svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 5px;
  fill: #333;
  pointer-events: none;
}

.slideshow #controls button:first-of-type svg {
  left: unset;
  right: 0;
}
