#page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#page > #contents {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-bottom: 10px;
  line-height: 1.6;
}

#page > #contents #title {
  font-weight: bold;
  text-transform: uppercase;
}

#page > #contents a {
  border-bottom: 1px solid #111;
}

#page > #contents #title {
  margin-top: 25px;
  margin-bottom: 10px;
}

#page > #contents p {
  margin-top: 0;
  margin-bottom: 15px;
}

#page #template {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
