#works {
  display: flex;
  flex-grow: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#works #menu {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}

#works #menu li {
  margin-bottom: 20px;
  display: table;
  margin-left: auto;
}

#works #menu li:last-of-type {
  margin-right: 0;
}

#works #menu li a {
  display: table;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0;
  margin-bottom: 3px;
  letter-spacing: 1px;
}

#works #menu li a:hover,
#works #menu li a.hover {
  border-bottom: 2px solid #111;
}

#works #index {
  width: 400px;
  margin: 0;
  margin-left: 60px;
}

#works #index .work {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}

#works #index .work a {
  border: 0;
}

#works #index .work a:hover {
  border: 0;
}

#works #index .work img {
  display: block;
  margin: auto;
}

#works #index .work img._1 {
  max-width: 100px;
  max-height: 100px;
}

#works #index .work img._2 {
  max-width: 150px;
  max-height: 150px;
}

#works #index .work img._3 {
  max-width: 275px;
  max-height: 275px;
}

#works #index .work img._4 {
  max-width: 300px;
  max-height: 300px;
}

#works #index .work img._5 {
  max-width: 320px;
  max-height: 320px;
}

#works #index .work #meta {
  font-size: 12px;
  line-height: 1.5;
  margin-left: 10px;
}

#works #index .work #meta #title {
  font-weight: bold;
  font-style: italic;
}

#works #index.single {
  margin-left: 0;
  width: auto;
}

#works #index.single .work {
  display: block;
}

#works #index.single .work #meta {
  display: flex;
  margin-left: 0;
  margin-top: 15px;
  font-size: 14px;
}

#works #index.single .work #meta > * {
  margin-left: 15px;
}

#works #index.single .work #meta #title {
  font-style: italic;
  margin-left: 0;
  flex: 1;
}

#works #index.single .work img {
  max-width: none;
  max-height: none;
}
