* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
}

html {
  background: #f7f4ed;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 100%;
  font-family: sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover,
a.hover {
  border-bottom: 1px solid #333;
}

input {
  font-family: inherit;
  font-size: inherit;
  background: #faf9f4;
  border: 1px solid #CCC;
  padding: 4px;
  -webkit-appearance: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}
#home {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#home ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  margin: auto;
}

#home .theme {
  margin-left: 8px;
  margin-right: 8px;
}

#home .theme img {
  width: 250px;
  height: 175px;
  border: 1px solid #222;
}

#home .theme #title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
#nav {
  margin: auto;
  text-align: center;
}

#nav h1 {
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
}

#nav h1 a:hover {
  border: 1px solid transparent;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav li {
  margin-right: 30px;
}

#nav li:last-of-type {
  margin-right: 0;
}

#nav li a {
  font-size: 16px;
  text-transform: uppercase;
}

#nav li a:hover,
#nav li a.hover {
  text-decoration: none;
  border-bottom: 2px solid;
}

#nav form {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 12px;
}

#nav form input {
  padding-left: 6px;
  padding-right: 6px;
}
#news {
  max-width: 700px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#news article {
  padding-bottom: 10px;
  margin-bottom: 60px;
  border-bottom: 1px solid #111;
  line-height: 1.6;
}

#news article:last-of-type {
  border-bottom: 0;
}

#news article p {
  margin-top: 0;
  margin-bottom: 15px;
}

#news article #meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-bottom: 15px;
}

#news article #meta #title {
  font-weight: bold;
  margin-right: 10px;
}

#news article #meta #permalink {
  margin-left: auto;
  font-size: 14px;
}

#news article #image {
  display: table;
  margin: auto;
  margin-bottom: 20px;
}

#news article img {
  display: block;
  max-width: 100%;
}

#news article #work-meta,
#news article #caption {
  font-size: 14px;
  margin-top: 10px;
}

#news article #work-meta p:last-of-type,
#news article #caption p:last-of-type {
  margin-bottom: 0;
}

#news article #work-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#news article #work-meta > * {
  margin-right: 15px;
}

#news article #work-meta #title {
  font-style: italic;
}

#news article #text a {
  border-bottom: 1px solid;
}
#page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#page > #contents {
  width: 100%;
  max-width: 700px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#page > #contents {
  padding-bottom: 10px;
  margin-bottom: 60px;
  line-height: 1.6;
}
#search {
  width: 400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#search #matches {
  color: orange;
}
#wrapper {
  padding: 20px;
  min-height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-outlet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#footer {
  text-align: center;
}

#footer #copyright {
  font-size: 10px;
  margin-top: 10px;
}
#works-index {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#works-index #themes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0px;
}

#works-index #themes li {
  margin-right: 5px;
  margin-bottom: 20px;
}

#works-index #themes li:last-of-type {
  margin-right: 0;
}

#works-index #themes li a {
  display: table;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0;
  margin-bottom: 3px;
  letter-spacing: 1px;
}

#works-index #themes li a:hover,
#works-index #themes li a.hover {
  border-bottom: 2px solid #111;
}

#works-index #works {
  width: 400px;
  margin: 0;
  margin-left: 60px;
}

#works-index .work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}

#works-index .work img {
  display: block;
  margin-right: 10px;
  border: 1px solid #111;
}

#works-index .work #info {
  font-size: 12px;
  line-height: 1.5;
}
#works-index .work #title {
  font-weight: bold;
  font-style: italic;
}
.hidden {
  display: none !important;
}
